################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrimeRecordManager/bin
/CrimeRecordManager/App_Data
/.vs/CrimeRecordManager
/CrimeRecordManager/obj/Debug
/packages
