@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A crime is an unlawful act punishable by a state or other authority.
    The term "crime" does not, in modern criminal law, have asimple and universally accepted definition, though
    statutory definitions have been provided for certain purposes.
</p>
