@{
    ViewBag.Title = "Home Page";
}
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <p></p>
    
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="import/img/background.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 text-white">
                            <span>Top News</span>
                            <h2>Popular Cases  </h2>
                            <p> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class=" jumbotron jumbotron-fluid">
        <div class="row jumboturn">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">
                    The notion that acts such as murder, rape and theft are to be prohibited exists worldwide.
                    What precisely is a criminal offence is defined by criminal law of each country.
                    While many have a catalogue of crimes called the criminal code, in some common law countries no such comprehensive statute exist
                </p>
            </div>
        </div>
    </div>
    <!--- Fixed background -->
    <figure>
        <div class="fixed-wrap">
            <div id="fixed"></div>
        </div>
    </figure>

    <!--- Departments -->
    <div class="container-fluid padding">
        <div class="row welcome text-center ">
            <div class="col-12">
                <h1 class="display-4">Department</h1>
                <hr>
            </div>
        </div>
    </div>
    <!--- Cards -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/import/img/images.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Nepal Police</h4>
                        <p class="card-text">
                            The police of Nepal is responsible for maintaining law and order and prevention of
                            crime according to the constitution of Nepal and is under the authority of the Ministry of Home Affairs.
                            Sarbendra Khanal is the current IGP of Nepal Police
                        </p>
                        <a href="https://www.nepalpolice.gov.np" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/import/img/trafficpolice.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Traffic Police</h4>
                        <p class="card-text">
                            The police of Nepal is responsible for maintaining law and order and prevention of
                            crime according to the constitution of Nepal and is under the authority of the Ministry of Home Affairs.
                            Sarbendra Khanal is the current IGP of Nepal Police
                        </p>
                        <a href="https://traffic.nepalpolice.gov.np/" class="btn btn-outline-secondary">See Profile</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/import/img/images.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">CIB</h4>
                        <p class="card-text">
                            Criminal Investigation must be revised time and again on a regular basis as it’s a dynamic process.
                            With the development in society and advancement in technology,the use of advanced technology
                            in committing different forms of crime also has changed as a regular process.
                        </p>
                        <a href="https://cib.nepalpolice.gov.np/" class="btn btn-outline-secondary">See Profile</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <!--- Two Column Section -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <h2>Latest Updates....</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                    industry's standard dummy text.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the
                    industry's standard dummy text.
                </p>
                <br>
                <div class="col text-center">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/import/img/desk.png" class="img-fluid">
            </div>
        </div>
    </div>
    <hr />
</body>

@section scripts {
    <script type="text/javascript">
        $('.carousel').carousel();
    </script>
}